*{
	box-sizing: border-box;
}
body{
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}
.section{
	padding: 30px 10%;
}
.header{
	margin-top: 80px;
	font-size: 24px;
	text-align: center;
}
.header span{
	display: block;
	
	font-weight: 300;
}
.header strong{
	font-weight: 900;
	text-transform: uppercase;

}
.main{
	text-align: center;
	margin-top: 80px;
}
.video, .form{
	display: inline-block;
	
	vertical-align: top;
}
.form{
	margin-left: 30px;
	text-align: center;
	border:5px solid #2727d9;
	padding: 20px;
}
.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 30px;
}
.form input{
	display: block;
	margin-top: 10px;
	width: 300px;
	/*height: 50px;*/
	font-size: 18px;
	padding: 20px;
	border: 1px solid #333;

}
.btn{
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #3c3cdd;
	border: none;
	height: 60px;
	width: 300px;
	margin: 11px auto 0px;

}
.feature-header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;

}
.feature{
	margin:80px;
	text-align: center;
}
.col{
	display: inline-block;
	text-align: center;
	margin: 10px 50px;
}
.col p{
	font-size: 16px;
	font-weight: 550;
}
/*.feature-btn{
	display: block;
	color: #fff;
	background-color: #3c3cdd;
	border: none;
	font-size: 18px;
	padding: 20px;
	text-align: center;
	width: 300px;
	font-weight: 500;

}*/
.clients-header{
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;

}
.clients{
	margin: 55px;
	text-align: center;
}
.col-cl{
	display: inline-block;
	margin: 15px 5px;
	vertical-align: top;
}






