html {
  font-size: 10px;
}
body {
  font-family: 'museo_reg', sans-serif;
}
section {
  padding: 4rem 0 8rem;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
